.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  text-align: center;
  color: white;
  background-color: black;
  font-family: sans-serif;
}

h1 {
  color:  #ff69b4;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-align: center;
}
.new_review {
  margin-left: 30%;
  min-width: 300px;
  margin-right: 30%;
  background-color: #9400ff;
  border-radius: 20px;
  margin-bottom: .3em;
  margin-top: .3em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
  background-color: #0dff00;
  border-radius: 10px;
}

.card img {
  width: 300px;
  height: 200px;
}

.review {
  background-color: red;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: .5em;
  border-radius: 5px;
  padding: 1em;
}

.show img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}


textarea {
  width: 80%;
  font-size: .8em;
  height: 6em;
  border-radius: 10px;
}

.errors {
  list-style: none;
  color: yellow;
  padding-left: 0;
}

.show {
  text-align: center;
}


.loader {
  margin-top: 30vh;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
